/* react slick custom*/

/* .slick-dots  */
.slick-dots {
  position: static !important;
}

.slick-dots li {
  width: 14px !important;
  height: 14px !important;
  margin: 0 !important;
}

.slick-dots li button {
  width: 6px !important;
  height: 6px !important;
}

.slick-dots li button:before {
  opacity: 1 !important;
  width: 6px !important;
  height: 6px !important;
  color: var(--gray700) !important;
}

.slick-dots li.slick-active button:before {
  color: var(--primary) !important;
}

/* slick-slider */

.slick-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slick-list {
  width: 845px;
  height: 450px;
  padding-bottom: 50px !important;
}

.section-slider .slick-list {
  width: 1464px;
  height: 100%;
  padding: 0 !important;
}

@media screen and (max-width: 500px) and (min-width: 481px) {
  .section-slider .slick-list {
    width: 1280px;
  }
}

@media screen and (max-width: 480px) {
  .section-slider .slick-list {
    width: 902px;
    height: 156px;
  }
}

/* slick prev next */
.slick-prev,
.slick-next {
  display: none !important;
}
