@charset "UTF-8";

/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

body {
  font-family: var(--primary-font);
  max-width: 600px;
  margin: 0 auto;
  padding: 8px 10px;
  color: var(--primary-white);
  border: 1px solid #292524;
  font-size: 1.4rem;
  font-weight: 500;
}

/* 스크롤 동작 설정 */
html {
  scroll-behavior: smooth;
}

:root {
	/* Main colors */
	--primary80: #d7ff50;
	--primary: #c1ff12;
	--primary100: #a4e600;
	--primary200: #7fb800;
	--primary500: #405c0b;
	--primary600: #203400;

	/* Secondary colors */
	--secondary: #922DFF;
	--secondary10: #B266FF;

		/* Red colors */
	--red: #EA3F80; /* Error */
	--red10: #FF669D;
	
	/* Blue */
	--blue: #0170F0;
	

	/* Neon colors */
--neon-marine: #16FBC5;
--neon-aqua: #16FBF5;
--neon-sky-blue: #3CCBFF;
--neon-blue: #5E86F3;
--neon-salmon: #FFC2C2;
--neon-orange: #FBB920;
--neon-pink: #FB52C2;
--neon-purple: #B433FB; 

	/* Gray */
	--gray50: #E4E6E1;
	--gray100: #C2C4C0;
	--gray200: #A9ABA6;
	--gray400: #6C6E69;
	--gray500: #464844;
	--gray600: #393B38;
	--gray700: #313330;
	--gray750: #20211F;
	--gray900: #0D0D0C;

	/* B&W */
	--primary-white: #F2F2F2; /* Text */
	--primary-black: #0B0B0B; /* Background */

  /* Font Style */
  --primary-font: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;

  --primary-title-font: 'Pretendard-SemiBold', sans-serif;

}

/* 텍스트 초기화 */
p,
span,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* HTML, BODY 초기화 */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100%;
  background-color: #0c0a09;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

/* 리스트 스타일 초기화 */
dl,
ul,
ol,
menu,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 반응형 이미지, 비디오 */
img,
video {
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* 링크 스타일 초기화 */
a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 스타일 초기화 */
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Transition */
a,
button {
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

/* 텍스트 스타일 초기화 */
a,
button,
span {
  letter-spacing: 0;
}

/* 제목 스타일 설정 */
h1,
h2 {
  margin-bottom: 0;
  color: var(--primary-title-color);
}

/* 입력 필드 및 텍스트 영역 스타일 설정*/
textarea::placeholder {
  color: #a8a8a8;
}

input:focus,
textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  outline-offset: 2px;
}

input,
textarea {
  padding: 10px;
}

/* 셀렉트 박스 스타일 설정 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url("/assets/images/arrow-down.svg"); */
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px 20px;
}

/* 접근성 요소 숨김 처리*/
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* 텍스트 말줄임 설정말줄임 */
/* text ellipsis*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 다중 라인 텍스트 말줄임 (2줄) */
.ellipsis.lineclamp {
  display: -webkit-box;
  line-height: 1.6em;
  height: 3.2em;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: unset;
}

.separator {
  display: flex;
  align-items: center;
}

/* 텍스트 구분 기호 */
.separator::after {
  content: '';
  width: 1px;
  height: 14px;
  margin-left: 10px;
  background-color: var(--primary-gray3);
}

/* scroll 커스텀 스타일 */
.scrollbar::-webkit-scrollbar {
  width: 0;
  height: 2px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary-gray2);
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--primary-gray3);
}

@media (min-width: 576px) {
  body {
    color: white;
  }
}
