.dropDownContainer {
  /* position: fixed; */
  background-color: var(--gray780);
  width: 12rem;
  z-index: 100;
  height: 40rem;
  padding: 1rem;
  align-items: center;
  position: absolute;
  /* top: 3rem; */
  width: 100%;
  bottom: 0rem;
}

.dropDownContainer div {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
}
