.sortBoardContainer {
  padding: 0 1rem;
  /* position: relative; */
  justify-content: end;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0rem;
  z-index: 100;
  width: 100%;
}
.sortBoardText {
  padding-right: 0.1rem;
  cursor: pointer;
}

.floatButton {
  position: fixed;
  right: 1.7rem;
  bottom: 10rem;
  cursor: pointer;
}

.floatButton:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.postWrapper {
  box-sizing: border-box;
  padding: 0rem 1rem 0rem 1rem;
}
