.container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
}

.btnContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnInner {
  position: relative;
}

.btnInner button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 88px;
  height: 36px;
  color: var(--gray300);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btnInner button.active,
.btnInner button.active .text,
.btnInner button.active .badge {
  color: var(--primary);
  font-weight: 700;
}

.text {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primary-white);
  font-weight: 700;
}
