.container {
  padding-bottom: 15px;
}

.mainContainer {
	margin-top: -1px;
  background: linear-gradient(
      210deg,
      rgba(155, 81, 224, 0.4) -11.09%,
      var(--black, rgba(11, 11, 11, 0.4)) 67.49%
    ),
    linear-gradient(
      142deg,
      var(--praimary, rgba(191, 255, 0, 0.3)) -7.68%,
      var(--black, rgba(11, 11, 11, 0.3)) 59%
    );
}

.mainContainer > div {
  padding-top: 60px;
}


/* 반응형  */
@media screen and (min-width: 576px) {
 
}
