.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container > div {
  word-break: keep-all;
}

.content {
  white-space: pre-line;
}

.viewMoreButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 82px;
  height: 38px;
  padding: 13px 10px;
  border-radius: 10px;
}

.active {
  border: 1px dashed var(--blue);
}

.viewMoreButton span {
  font-family: var(--primary-font);
  margin-right: 9px;
  font-size: 1.2rem;
  color: var(--primary-white);
}
