.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7px 20px;
}

.cardLink {
  display: block;
  max-width: 175px !important;
  margin: 0 auto;
}

.slide {
  position: relative;
  max-width: 175px;
  width: 29.2vw;
  height: 210px;
  border-radius: 2px 2px 0px 0px;
  transition: transform 0.3s ease-in-out;
}

.slide img {
  width: inherit;
  max-width: inherit;
  height: inherit;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.emptySlide {
  opacity: 0;
  pointer-events: none; /* 클릭 불가능하게 설정 */
}

.slide .btnContainer {
  bottom: 15px;
}

.btnContainer {
  position: absolute;
  bottom: 19px;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

/* 반응형 */
@media only screen and (max-width: 560px) and (min-width: 500px) {
  .slide {
    width: 175px !important;
  }
}

@media screen and (max-width: 480px) {
  .cardLink {
    width: 105px !important;
  }

  .slide {
    width: 105px;
    height: 155px;
  }
}
