.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 8px;
}

.cardLink {
  display: block;
  order: 0;
  max-width: 175px !important;
  margin: 0 auto;
  border-radius: 6px;

  &:nth-child(2) .topNumber {
    color: var(--primary80);
    text-shadow: 0 0 8px var(--primary80),
      /* 부드러운 내부 광채 */ 0 0 16px var(--primary80),
      /* 확산되는 빛 */ 0 0 20px var(--primary80),
      /* 더 넓은 확산 빛 */ 0 0 28px rgba(215, 255, 80, 0.5); /* 희미한 외곽선 빛 */
  }
}

.rankingItem {
  position: relative;
  max-width: 175px;
  width: 29.2vw;
  height: 210px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  transition: transform 0.3s ease-in-out;
}

.rankingItem img {
  width: inherit;
  max-width: inherit;
  height: inherit;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.rankingItem figcaption h3 {
  font-family: var(--design-font);
  margin-bottom: 5px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--gray400);
  font-size: 1.5rem;
  color: var(--primary-white);
}

.rankingItem figcaption h4 {
  font-size: 1.1rem;
  color: var(--gray200);
  font-weight: 400;
}

.textContainer {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}

.topNumber {
  color: var(--gray50);
  text-align: center;
  font-family: var(--title-font);
  font-size: 5rem;
  font-weight: 800;
}

.emptySlide {
  opacity: 0;
  pointer-events: none; /* 클릭 불가능하게 설정 */
}

.rankingItem .btnContainer {
  bottom: 15px;
}

.btnContainer {
  position: absolute;
  bottom: 19px;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

/* 반응형 */
@media only screen and (max-width: 560px) and (min-width: 500px) {
  .rankingItem {
    width: 175px !important;
  }
}

@media screen and (max-width: 480px) {
  .cardLink {
    width: 104px !important;
  }

  .rankingItem {
    width: 104px;
    height: 156px;
  }
}
