.container {
  padding-bottom: 28px;
}

.inner {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 0 30px;
}

.inner:first-child {
  margin: 0 10px 30px;
  padding: 16px 0 0;
  border-radius: 12px;
  border: 1px solid var(--gray750);
  background: var(--primary-black);
}

.inner:first-child::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  max-width: 355px;
  height: 28px;
  opacity: 0.2;
  background: linear-gradient(
      180deg,
      rgba(244, 255, 186, 0.71) 12%,
      rgba(244, 255, 186, 0.71) 71%,
      rgba(244, 255, 186, 0.9) 80%,
      #f4ffba 100%
    ),
    var(--gray-100, #c2c4c0);
  filter: blur(7.5px);
  background-repeat: no-repeat;
  background-position: left bottom;
}
