.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 44px;
  padding: 2px 15px 12px;
  font-size: 2.4rem;
}

.container h2 {
  font-family: var(--title-font);
  display: flex;
  font-size: inherit;
}

.container h2 img {
  margin-left: 4.5px;
}
