.container {
  padding: 60px 0 15px;
}

.recommendContainer {
  margin: 0 9px 50px;
  font-size: 1.4rem;
}

.recommendContainer img {
  max-width: 100%;
  max-height: 100%;
}

.recommendContainer p {
  margin: 0 10px;
  color: var(--gray100);
  text-align: center;
  line-height: 170%;
}

.recommendContainer strong {
  color: var(--primary-white);
}

.fullButton {
  display: block;
  height: 56px;
  margin: 0 10px;
  padding: 17px 0px;
  font-size: 1.8rem;
  color: var(--primary);
  border-radius: 15px;
  border: 1.4px solid var(--gray50);
  text-align: center;
}

/* 반응형  */
@media screen and (min-width: 576px) {
 
}
